#bigTitle {
	background-color: #8B0000;
	color: white;
	padding: 20px;
	margin: 10px;
}

.container {
	margin-top: -10px;
	margin-bottom: 20px;
	background-color: #DCDCDC;
}

.titles {
	font-weight: bold;
	margin-left: 50px;
	margin-top: 10px;
}

.content {
	background-color: #CD5C5C;
	width: 150px;
	height: 150px;
	margin: 10px;
}

.row {
	margin: 10px 10px 10px 35px;
}

#inside {
	background-color: white;
	margin: 20px;
}