#bigtitle {
    background-color: #C03E3E;
    color: white;
    padding: 10px;

}

.container {

    background-color: lightgrey;

}

.title {
    padding: 10px 10px;

}



.row {
    margin: -8px 10px 10px 10px;

}

p {
    width: 150px;
    height: 100px;

}

